In [1]:
num=3.5 # Origina un tipo de dato float, con decimales
print(type(num))

<class 'float'>

In [2]:
#CONVERSION DEL DATO
int(num) #convierte el float en un entero

3

In [3]:
int("hola")
# Da error porque no posee numeros este término

ValueError: invalid literal for int() with base 10: 'hola'

In [4]:
num="8"
type(num) #obtenemos el tipo de variable

str

In [5]:
int(num) #convertimos a entero, lo vamos a ver al numero sin comillas

8

In [6]:
# Esto no modifica a la variable num ya que pidiendo su tipo sigue siendo un string
type(num)

str

In [7]:
#Si queremos conservar el cambio debemos hacer una asignación.
num= int(num) #reasignamos un valor de un tipo entero a la variable num
type(num) # veremos que el tipo de variable a cambiado

int

In [8]:
# La funcion float construye un numero flotante a partir de un entero
# tambien puede hacerlo con un string siempre y cuando este sea numérico también
num="8.5"
print(type(num))

<class 'str'>

In [9]:
num3=float(num) 
#convertimos a flotante y guardamos en una nueva variable.

In [10]:
print(type(num)) # Tipo de variable string
print(type(num3)) #tipo de variable float

<class 'str'>
<class 'float'>

In [11]:
num=4
print(type(num))

<class 'int'>

In [12]:
num4=float(num) #convertimos en un floar y guardamos una variable nueva

In [13]:
print(type(num)) #tipo de variable string
print (type(num4)) #tipo de variable float

<class 'int'>
<class 'float'>

In [14]:
x=10 #declaramos un entero como variable
print(type(x)) #COMPROBAMOS EL TIPO DE DATO DE X
y=str(x) #convertimos a string la variable x, que es un entero
print(type(y)) #imprimimos el tipo de dato de y

<class 'int'>
<class 'str'>

In [15]:
w=2.2 #declaramos una variable con un dato de tipo float
print(type(w)) #comprobamos el tipo de dato
z=str(w) #convertimos a string a la variable w
print(type(z))

<class 'float'>
<class 'str'>