In [1]:
8+8

16

In [2]:
a=8
b=3.5
a+b

11.5

In [3]:
a=8
a+10

18

In [4]:
22-11

11

In [5]:
a=50
b=30
a+b

80

In [6]:
m=50
60-m

10

In [7]:
20*4

80

In [8]:
mul1=2
mul2=3
mul1*mul2

6

In [9]:
mul1*9

18

In [10]:
2**4

16

In [11]:
b=2
a=3
b**a

8

In [12]:
c=3 #3 es la base, 2 es el exponente
c**2

9

In [13]:
10/3  #devuelve un decimal con los respectivos numeros
#de tipo float

3.3333333333333335

In [14]:
10//3
#de tipo entero, redondea el resultado

3

In [15]:
20/0  #no se puede dividir por cero
#es importante leer los errores para poder solucionarlos

ZeroDivisionError: division by zero

In [17]:
divid=21
divisor=7

divid/divisor

3.0

In [18]:
divid/4

5.25

In [20]:
7%2 #7/2=3 y el resto es igual a 1
#el resto es muy importante

1

In [21]:
print(6%2)
print(12%2)
print(448%2)
# son numero pares ya que su división entre dos no deja resto

0
0
0

In [22]:
print (9%2)
print(15%2)
print (327%2)
# son numero impares por lo que su división entre 2 deja como resto 1

1
1
1

In [23]:
'mano'== 'mano'

True

In [24]:
4==2+2

True

In [27]:
print(4=='4')
# es falso porque el c4 que esta entre comillas es de otro tipo de dato
print(type(4))
print(type('4'))

False
<class 'int'>
<class 'str'>

In [28]:
4!='4'

True

In [29]:
9!=4+5
# 9 si es igual a la suma de 4+5 por lo que el operador de diferentes arroja false

False

In [30]:
12>3

True

In [31]:
12<3

False

In [32]:
num1=12
num2=16

In [33]:
num1<num2

True

In [36]:
num1<=num2

True

In [37]:
#Operadores de asignación
x=10

In [38]:
x+=5
# es lo mismo que escribir x=10+5

In [39]:
print(x)

15

In [40]:
x=10

In [41]:
x-=2

In [42]:
print(x)

8

In [43]:
x*=2

In [44]:
print(x)

16

In [60]:
x=10

In [62]:
x/=3

In [63]:
print(x)
# recibimos un float como resultado, un decimal

3.3333333333333335

In [64]:
x=10

In [65]:
x//=3

In [66]:
print(x)

3

In [67]:
x=10

In [68]:
x%=3

In [69]:
print(x)

1

In [70]:
x=10

In [71]:
x**=2

In [72]:
print(x)

100

In [73]:
'Hola '+'Henry' #tener en cuenta de incluir el espacio antes de
#cerrar las comillas, sinó sale todo junto
#o se puede escribir añadiendo el espacio entre comillas
# 'hola'+' '+'Henry'

'Hola Henry'

In [74]:
'henry '*3

'henry henry henry '

In [78]:
#operaciones lógicas: se recurre a tablas de verdad. Verdadero=1; falso=0
# AND
print(True and True) # true
print (True and False) #false
print (False and True) #false
print (False and False) #false

True
False
False
False

In [77]:
# OR
print(True or True) # true
print (True or False) # true
print (False or True) #true
print (False or False) #false

True
True
True
False

In [79]:
print(not True) # false
print (not False) # True

False
True

In [80]:
# XOR
a=bool(1) # True
b=bool(0) # False

In [81]:
print(a^b)

True

In [82]:
a=bool(0) # False
b=bool(0) # False

In [83]:
print(a^b)

False

In [84]:
a=bool(0) #False
b=bool(1) #True
print(a^b)

True

In [85]:
a=bool(1) # True
b=bool(1) #True
print(a^b)

False